---
title: Index page
testi:
 - name: Steve Jobs
   image: img/1.jpg
   position: CEO
   descr: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere animi vitae consequatur. Perferendis modi quisquam eligendi itaque aliquid omnis tenetur accusantium iure non, veritatis nemo blanditiis? Nulla, cumque, molestias!
 - name: Steve Jobs2
   image: img/2.jpg
   position: CEO
   descr: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere animi vitae consequatur. Perferendis modi quisquam eligendi itaque aliquid omnis tenetur accusantium iure non, veritatis nemo blanditiis? Nulla, cumque, molestias!
 - name: Steve Jobs3
   image: img/3.jpg
   position: CEO
   descr: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam facere animi vitae consequatur. Perferendis modi quisquam eligendi itaque aliquid omnis tenetur accusantium iure non, veritatis nemo blanditiis? Nulla, cumque, molestias!
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!-- begin wrapper  -->
<div class="wrapper">

	<!-- begin hero  -->
	<div class="hero" style="background-image: url(img/hero.jpg)">
		<div class="container">
			<!-- begin header  -->
			<div class="header">
				<div class="header__logo">
					{{mixins.icon('logo')}}
				</div>
				<a href="tel:" class="header__phone">8 800 500 50 50</a>
				<a href="tel:" class="header__call">call to order</a>
			</div>
			<!-- end header -->
			<ul class="nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">About Us</a></li>
				<li><a href="#">gallery</a></li>
				<li><a href="#">consultation</a></li>
				<li><a href="#">testimonials</a></li>
				<li><a href="#">Contacts</a></li>
			</ul>
		</div>
	</div>
	<!-- end hero -->

	<!-- begin section  -->
	<div class="section best">
		<div class="container">
			<div class="best__motto">
				Miami <strong>best </strong><br>
				Realry<span>— <br>
				this</span>
			</div>
			<div class="best__text textual">
				<p><strong>Over 50 years experience in love.</strong><br>
					Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical.</p>
				<ol>
					<li>The market leader in real estate since 2003</li>
					<li>Awards Real Estate Company, 2010, 2011, 2013</li>
					<li>More than 200 satisfied customers premium segment</li>
					<li>We focus only on new buildings and high-level
     doskanalno know this area better than other specialists.</li>
					<li>Working directly with developers - so have more
     useful information about the profitable deals</li>
				</ol>
				<p><strong>We will never late!<br>
				Guaranteed secure transaction - 100%</strong></p>
			</div>
		</div>
	</div>
	<!-- end section -->


	<!-- begin gallery  -->
	<div class="section gallery">
		<div class="container">
			<h2 class="section__title">
				Gallery
				{{mixins.icon('decor')}}
			</h2>

			<!-- begin apart  -->
			<div class="apart apart_mod-right">
				<div class="apart__photos">
					<div class="apart__photo" style="background-image: url(img/footer.jpg)">
					</div>
					<div class="apart__photo" style="background-image: url(img/footer.jpg)">
					</div>
				</div>
				<h2>Marina Palms / <span>North Miami Beach, FL 33162</span></h2>
			</div>
			<!-- end apart -->
			<!-- begin apart  -->
			<div class="apart ">
				<div class="apart__photos">
					<div class="apart__photo" style="background-image: url(img/footer.jpg)">
					</div>
					<div class="apart__photo" style="background-image: url(img/footer.jpg)">
					</div>
				</div>
				<h2>Marina Palms / <span>North Miami Beach, FL 33162</span></h2>
			</div>
			<!-- end apart -->
			<!-- begin apart  -->
			<div class="apart apart_mod-left">
				<div class="apart__photos">
					<div class="apart__photo" style="background-image: url(img/footer.jpg)">
					</div>
					<div class="apart__photo" style="background-image: url(img/footer.jpg)">
					</div>
				</div>
				<h2>Marina Palms / <span>North Miami Beach, FL 33162</span></h2>
			</div>
			<!-- end apart -->
			<div class="section__bottom">
				<a href="#" class="button button_inline">View all</a>
			</div>
			
		</div>
	</div>
	<!-- end gallery -->

	<!-- begin section  -->
	<div class="section consultation">
		<div class="container">
			<h2 class="section__title">
				Consultation
				{{mixins.icon('decor')}}
			</h2>

			<div class="section__left textual">
				<h2>How long have<br>
				you do yourself a gift?</h2>
				<p>The procedural change mezzo forte starts izoritmichesky pickup at these moments stop LA Mazel and VA Tsukkerman in his "Analysis of musical works." Pointillism, which originated in the music of the early twentieth century, microforms, found a distant historical</p>
			</div>
			<!-- end left -->
			<!-- begin section__right  -->
			<div class="section__right">
				<div class="form">
					<div class="form__field">
						<input type="text" placeholder="Name" class="input">
					</div>
					<div class="form__field">
						<input type="text" placeholder="phone" class="input">
					</div>
					<div class="form__field">
						<input type="text" placeholder="email" class="input">
					</div>
					<div class="form__submit">
						<button class="button">consultation</button>
					</div>
				</div>
			</div>
			<!-- end section__right -->
		</div>

	</div>
	<!-- end section -->

	<!-- begin section  -->
	<div class="section testimonials">
		<div class="container">
			<h2 class="section__title">
				Testimonials
				{{mixins.icon('decor')}}
			</h2>

			<!-- begin testis  -->
			<div class="testis">
				{% for t in testi %}
				<!-- begin t  -->
				<div class="t">
					<div class="t__photo" style="background-image: url({{t.image}});">
					</div>
					<h3 class="t__name">{{t.name}}</h3>
					<div class="t__position">{{t.position}}</div>
					<div class="t__descr">
						<p>{{t.descr | safe}}</p>
					</div>
				</div>
				<!-- end t -->
				{% endfor %}
			</div>
			<!-- end testis -->
		</div>
	</div>
	<!-- end section -->

	
	<!-- begin section  -->
	<div class="section contact">
		<div class="container">
			<h2 class="section__title">
				Contact
				{{mixins.icon('decor')}}
			</h2>

			<div class="section__left textual textual_big">
				<p><a href="mailto:hello@miami.com">Hello@miami.com</a></p>
				<p>8 800 678 78 78<br>
				8 800 700 98 98</p>
				<p>400 first ave. n.<br>
				suite 700<br>
				Minneapolis, MN 55401</p>
			</div>

			<!-- begin section__right  -->
			<div class="section__right">
				<div class="form">
					<div class="form__field">
						<input type="text" placeholder="Name" class="input">
					</div>
					<div class="form__field">
						<input type="text" placeholder="email" class="input">
					</div>
					<div class="form__field">
						<textarea class="textarea" name="" placeholder="Message" id="" cols="30" rows="10"></textarea>
					</div>
					<div class="form__submit">
						<button class="button">Write to us</button>
					</div>
				</div>
			</div>
			<!-- end section__right -->
		</div>
	</div>
	<!-- end section -->

	</div>
	<!-- end wrapper -->

	<!-- begin footer  -->
	<div class="footer" style="background-image: url(img/footer.jpg)">
		<div class="footer__logo">
			{{mixins.icon('logo')}}
		</div>
		<div class="footer__copy">
			© 2013 Miami.
		</div>
	</div>
	<!-- end footer -->



	<!-- {% include "partials/_header.html" %} -->


{% endblock %}
